<div class='card' id='{{id}}'>
  <img src='{{photo}}' alt='#' class='card_img' />
  <div class='img_title'>{{name}}</div>
  <span class='card_text'>{{description}}</span>
  <button class='card_button'>Read All</button>
  <span class='badge'>
    <badge class='card_badge'>{{badge}}</badge>
  </span>
</div>